{% extends "base.html.twig" %}

{% block title %}Categorie{{ category.name }}{% endblock %}

{% block body %}
    {% include '_components/_navbar.html.twig' %}
    <h1 class= "title-page">Categorie{{ category.name }}</h1>
    <section class="section-category-index">
        {% for modele in modeles %}
        <div class= "template-cards">
            <div class= "card-category">
                <h2><a href="{{ path("modele_show", { id: modele.id }) }}">{{ modele.name }}</a></h2>
                 <h3>Catégorie : {{ modele.category.name }}</h3>
                <p>{{ modele.description }}</p>
            </div>
        </div>
        {% else %}
        Aucun modèle trouvé.
        {% endfor %}
    </section>
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>   
{% endblock %}