{% extends 'base.html.twig' %}

{% block title %}Tous les modèles !{% endblock %}

{% block body %}
    {% include '_components/_navbar.html.twig' %}
    <h1 class="title-page">Tous les modèles : </h1>
    <section class="section-category-index">
        {% for modele in modeles %}
        <div class= "template-cards">
                <div class= "card-category">
                    <div>
                        <h2>{{ modele.name }}</h2>
                        <h4>Catégorie : {{ modele.category.name }}</h4>
                        <p>{{ modele.photo }}</p>
                        <p>{{ modele.description }}</p>
                        {# Lien vers la fiche du modele : #}
                        <a class="lien-card" href="{{ path("modele_show", { id: modele.id }) }}">Voir le modèle</a>
                    </div>
                </div>
        </div>
                {% else %}
                    Aucun modèle trouvé.
                {% endfor %}
    </section>
    <div class="lien-retour">
        <a class="lien-card" href="{{ path('modele_new') }}">
            Créer un nouveau modèle
        </a>
        <a class="lien-card" href="{{ path('home_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}
