{% extends 'base.html.twig' %}

{% block title %} Les Pelotes{% endblock %}

{% block body %}
    {% include '_components/_navbar.html.twig' %}
    <h1 class="title-page">Les pelotes : </h1>

    <section class="section-pelote-index">
        {% for pelote in pelotes %}
        <div class= "template-cards-pelote">
                <div class= "card-category">
                    <div>
                        <h2>{{ pelote.name }}</h2>
                        <p>{{ pelote.image }}</p>
                        <p>{{ pelote.material }}</p>
                        <p>{{ pelote.meters }}</p>
                        <p>{{ pelote.tailleAiguilles }}</p>
                        <p>{{ pelote.couleur }}</p>
                        {# Lien vers la fiche du modele : #}
                        <a class="lien-card" href="{{ path("pelote_show", { id: pelote.id }) }}">Voir la pelote</a>
                        <a class="lien-card" href="{{ path('pelote_edit', {'id': pelote.id}) }}">éditer</a>
                    </div>
                </div>
        </div>
        {% else %}
            <tr>
                <td colspan="8">Il n'y a pas de pelotes</td>
            </tr>
        {% endfor %}
    </section>
        <div class="lien-retour">
            <a href="{{ path('pelote_new') }}">Ajouter une nouvelle pelote</a>
        </div>
{% endblock %}