{% extends 'base.html.twig' %}

{% block title %}Pelote {{ pelote.name }} {% endblock %}

{% block body %}
    {% include '_components/_navbar.html.twig' %}
    <section class="section-category-index">
        <div class= "template-cards-vignette-pelote">
            <div class= "card-category">    
                <h1>{{ pelote.name }}</h1>
                <p><img class="modele-photo-vignette-pelote" src="{{ pelote.image}}" alt="{{ pelote.name }} image"></p>
                <p>Qualité : {{ pelote.material }}</p>
                <p>Métrage : {{ pelote.meters }}</p>
                <p>Taille d'aiguilles : {{ pelote.tailleAiguilles }}</p>
                <p>Couleur : {{ pelote.couleur }}</p>
            </div>
        </div>
    </section>
        <div class="lien-retour">
            <a class="lien-card" href="{{ path('pelote_index') }}">Retour à la liste des pelotes</a>
            <a class="lien-card" href="{{ path('pelote_edit', {'id': pelote.id}) }}">Editer la fiche</a>
        </div>
    
{% endblock %}
