{% extends 'base.html.twig' %}

{% block title %}Pelote{% endblock %}

{% block body %}
    {% include '_components/_navbar.html.twig' %}
    <h1>Pelote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pelote.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pelote.name }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ pelote.material }}</td>
            </tr>
            <tr>
                <th>Meters</th>
                <td>{{ pelote.meters }}</td>
            </tr>
            <tr>
                <th>TailleAiguilles</th>
                <td>{{ pelote.tailleAiguilles }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ pelote.couleur }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ pelote.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pelote_index') }}">back to list</a>

    <a href="{{ path('pelote_edit', {'id': pelote.id}) }}">edit</a>

    {{ include('pelote/_delete_form.html.twig') }}
    {% include "_components/_footer.html.twig" %}
{% endblock %}
